<div class="container">

    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a ui-sref="contatos">Contatos</a></li>
    </ol>

    <!-- Cabeçalho -->
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img style="background-color: #6f42c1;" class="mr-3" src="../../app/images/c.svg"  alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Contatos</h6>
            <small>Informações dos Contatos</small>
        </div>
    </div>
    
    <!-- Filtro -->
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Filtro</h6>
        
        <form style="padding-top: 5px;" > 
            <div class="form-group row">
              
                <!-- ID -->
                <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Id</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Informe o ID">
                </div>

                <!-- Nome -->
                <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Nome</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Informe o Nome">
                </div>
            
            </div>

            <div class="form-group row">

                <!-- Telefone -->
                <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Telefone</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Informe o Telefone">
                </div>

                <!-- Data -->
                <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Data</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Informe a Data">
                </div>

                <!-- Operadora -->
                <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Operadora</label>
                <div class="col-sm-4">
                    <select id="colFormLabelSm" class="form-control form-control-sm">
                        <option selected>Escolha uma Operadora...</option>
                        <option>...</option>
                    </select>
                </div>

            </div>
            <p align="right">
                <button type="button" class="btn btn-primary btn-sm">Limpar Filtro</button>   
                <button type="button" class="btn btn-primary btn-sm">Filtrar</button>   
            </p>
            
          </form>   
    </div>

    <!-- Tabela de Contatos -->
    <div class="my-3 p-3 bg-white rounded box-shadow">
        
        <h6 class="border-bottom border-gray pb-2 mb-0">Contatos</h6>
        <div ng-controller="ContatosController as vm" class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            
            <p align="right" style="padding-top: 5px;">
                
                <img src="../../app/images/xls.svg"  alt="" width="30" height="48">
                <img src="../../app/images/pdf.svg"  alt="" width="22" height="36">
                
                <!--
                <i class="fa fa-file-excel fa-lg"></i>
                <i class="fa fa-file-pdf fa-lg"></i>
                -->
            </p>

            
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Id</th>
                        <th scope="col" class="text-center">Nome</th>
                        <th scope="col" class="text-center">Telefone</th>
                        <th scope="col" class="text-center">Data</th>
                        <th scope="col" class="text-center">Operadora</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- {{vm.dados | json}}  -->
                    <tr ng-repeat="dado in vm.dados.contatos">
                        <td class="text-center">{{dado.idContato}}</td>
                        <td class="text-center">{{dado.nome}}</td>
                        <td class="text-center">{{dado.telefone}}</td>
                        <td class="text-center">{{dado.dataUltimaAtualizacao | date: "dd/MM/yyyy HH:mm:ss" }}</td> <!-- Data -->
                        <td class="text-center">{{dado.operadora.codigoOperadora +" - "+ dado.operadora.nomeOperadora}}</td> <!-- Operadora -->
                        <td class="text-center"> 
                            <button ng-click="vm.prepararAlteracaoContato(dado)" class="btn btn-primary btn-sm"><i class="fa fa-edit fa-xs"></i></button>
                            <button ng-click="vm.prepararExclusaoContato(dado)" class="btn btn-danger  btn-sm"><i class="fa fa-trash fa-xs"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button ng-click="vm.prepararInclusaoContato()"  class="btn btn-success btn-sm float-right"><i class="fa fa-plus fa-xs"></i></button>
                        </td>
                    </tr>
                  </tfoot>

            </table>
            
            <!-- Paginação -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Próximo</a>
                  </li>
                </ul>
            </nav>
            
            <div ng-include="'private/contatos/modal.excluir.contatos.html'"></div>
            <div ng-include="'private/contatos/modal.alterar.contatos.html'"></div>
            <div ng-include="'private/contatos/modal.contatos.mensagem.html'"></div>

        </div>
    </div>
    
    
    <!--
    <div ng-include="'private/contatos/modal.manter.parametrizacao.alcada.html'"></div>
    <div ng-include="'private/parametrizacaoAlcada/modal.parametrizacao.alcada.mensagem.html'"></div>
    -->


</div>

    


<!--
    TODO:
      - Implementar breadcrumb -- Ok
      - Implementar um método em JS para retornar formatado o campo data. -- Ok
      - Implementar no filtro Duas datas sendo Data Inicial e Data Final.
      - Implementar um método em JS para retornar formatado o campo telefone.
      - Implementar o Editar
      - Implementar o Inserir
      - Implementar a Paginação de acordo com o método paginado do backend
      - Exportar em Excel todos os Contatos
      - Exportar em Excel os Contatos disponíveis na paginação
      - Exportar em CSV todos os Contatos
      - Exportar em CSV os Contatos disponíveis na paginação
      - Exportar em Relatórios todos os Contatos
      - Exportar em Relatórios os Contatos disponíveis na paginação

      - Implementar Segurança no Backend com KeyCloak usando Client_Credentials
        -  Usar banco de dados Postgres para o Keycloak dentro de um container docker
      - Implementar Segurança no front end com authToken

      - Disponibilizar ambiente em Containers docker.

      PARTIR PARA PRÓXIMA ARQUITETURA

-->
